.input-item{
    width: 100%;
    position: relative;
}
.input-item label{
    font-weight: bold;
    font-size: 17px;
}
.input-item input{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: 15px;
}
.input-item input.input-search{
    padding-right: 50px;
}
.input-item input:focus{
    /* border: 1px solid #e5e5e5 !important; */
    border: 1px solid #0082DE;
    outline: none;
}
.input-item .search-icon{
    width: 30px;
    height: 30px;
    background-color: #0082DE;
    position: absolute;
    right: 9px;
    bottom: 5px;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-item .blind-icon{
    width: 30px;
    height: 30px;
    /* background-color: #0082DE; */
    position: absolute;
    right: 9px;
    bottom: 5px;
    /* border-radius: 100px; */
    color: #536470;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}