.grid-products{
    width: 600px;
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2em;
    justify-content: space-between;
}

.product-card{
    border: 1px solid #b5b5b5;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
   
}
.product-card:hover{
    border: 1px solid #0082DE;

}
    .product-card .product-img{
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .product-card .product-img img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    .product-card .product-name{
        width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 0;
    }
    .product-card .product-price span{
        color:#0266ad;
        font-weight: bold;
        font-size: 15px;
    }