.product-card{
    border: 1px solid #b5b5b5;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
    min-width: 222px;
}
.product-card:hover{
    border: 1px solid #0082DE;

}
    .product-card .product-img{
        width: 180px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
        .product-card .product-img img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    .product-card .product-name{
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 0;
    }
    .product-card .product-price span{
        color:#0266ad;
        font-weight: bold;
        font-size: 15px;
    }
    .product-card .purchase-btn {
        margin-top: 10px;
        text-align:center;
        vertical-align: middle;
        align-content: center;
        justify-content: center;
        align-content: center;
        padding: 10px 0;
        background-color: #1d48ba;
        color:white;
        font-size: 17px;
        font-weight: 600;
        border-radius: 100px;
        cursor: pointer;
    }
    .product-card .purchase-btn:hover{
        background-color: #7f9cdf;
    }
