%btn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 17px;
}
.orange-btn{
    @extend %btn;
    @include set-background-color($secondary-color);
}

