.slideshow {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: $border-radius;

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      z-index: 100;
      background-color: rgba(0,0,0,0.5);
        &:hover{
          background-color: rgba(0,0,0,0.8);
        }
    }
    .next{
      right: 0;
    }
    .dots{
      position: absolute;
      width: 100%;
      bottom: 1em;
      display: flex;
      justify-content: center;

        .dot{
          width: 10px;
          height: 10px;
          border-radius: 100%;
          cursor: pointer;
          @include set-background-color(rgb(145, 137, 137));
          margin: 5px;
          

          &.active{
            background-color: darken($color: rgb(145, 137, 137), $amount: 20);
          }
        }
    }  
    
    .image-container{
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

      img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }