.header{
    width: 100%;
    height: 70px;
    background-color: #0082DE;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
    .header .page-logo{
        width: 45px;
        height: 45px;
        background-image: url('../../assets/shield.png');
        background-position: center;
        background-size: contain;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        cursor: pointer;
    }
    .header .page-name{
        font-weight: bold;
        font-size: 20px;
        margin-left: 5px;
        cursor: pointer;
    }
    .header .cart{
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
        .header .cart .cart-logo{
            width: 30px;
            height: 30px;
            background-image: url('../../assets/cart.svg');
            background-size: contain;
            background-position: center;
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        }
        .header .cart .cart-number{
            position: absolute;
            left: -5px;
            top: -5px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: orange !important;
        }
        .header .cart .cart-text{
            height: 30px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
        }