.header{
    width: 100%;
    height: 70px;
    background-color: #0082DE;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
    .header .page-logo{
        width: 45px;
        height: 45px;
        background-image: url('../../assets/shield.png');
        background-position: center;
        background-size: contain;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        cursor: pointer;
    }
    .header .page-name{
        font-weight: bold;
        font-size: 20px;
        margin-left: 5px;
        cursor: pointer;
    }
    .header .account{
        right: 200px;
        position: absolute;
        display: flex;
    }
    .header .account :hover{
        cursor: pointer;
    }
        .header .account i{
            color: white;
            font-size: 25px;
        }
        .header .account i:hover{
            
        }
        .header .account .account-name{
            position: absolute;
            left: 30px;
            height: 30px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
            align-self: center;
        }
    .header .cart{
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
        .header .cart .cart-logo{
            width: 30px;
            height: 30px;
            background-image: url('../../assets/cart.svg');
            background-size: contain;
            background-position: center;
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        }
        .header .cart .cart-number{
            position: absolute;
            left: -5px;
            top: -5px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: orange !important;
        }
        .header .cart .cart-text{
            height: 30px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
        }
.login-signup-modal{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
    overflow-y: scroll;
}
.login-signup-inner{
    width: 500px;
    position: relative;
    top: 5%;
    margin: auto;
    background: white;
    border-radius: 15px;
    padding-bottom: 20px;
}
.login-signup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1d48ba;
    color: white;
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    .login-signup-header i:hover{
        color: #034f86;
    }
.login-signup-content{
    padding: 30px 0px 10px 50px;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    width: 80%;
}
    .login-signup-content .name{
        margin-bottom: 20px;
    }

    .login-signup-content .phone-number{
        margin-top: 20px;
    }
    .login-signup-content .password{
        margin-top: 20px;
    }
    .login-signup-content .note{
        position: relative;
        /* margin-top: 3px; */
        text-align: right;
        padding: 0;
        font-size: 12px;
        color: #5c6d9c;
    }
.login-signup-footer{
    text-align: center;
    margin-top: 10px;
}
    .login-signup-footer .note{
        text-align: left;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .login-signup-footer button{
        width: 80%;
        padding: 10px 20px;
        background:#1d48ba;
        color: white;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
    }

.login-signup-addition .switch{
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}
    .login-signup-addition .switch .call-for-action{
        padding: 10px;
        color:#06c43f;
        cursor: pointer;
        font-weight: bold;
        
    }
.hide {
    display: none;
}

.account-option{
    top: 60px;
    width: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    z-index: 100;
    border: #5c6d9c solid 2px;
    background-color: #fff;
    border-radius: 10px;
}
    .account-option div{
        padding: 10px;
    }
    .account-option i{
        padding-right: 2px;
        color: #5c6d9c;
    }

.congrats-modal{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
}
    .congrats-inner{
        width: 500px;
        position: relative;
        top: 5%;
        margin: auto;
        background: white;
        border-radius: 15px;
        padding-bottom: 20px;
    }
        .congrats-header{
            display: flex;
            justify-content: right;
            align-items: center;
            padding: 15px;
            color: #d6312d;
            font-size: large;
            font-weight: bold;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
            .congrats-header i:hover{
                color: #034f86;
            }
        .congrats-content{
            padding: 30px 50px;
            font-size: 15px;
            font-weight: bold;
            justify-content: center;
            align-content: center;
            width: 80%;
            text-align: center;
        }
        .congrats-footer{
            text-align: center;
        }
            .congrats-footer button{
                background-color: #d6312d;
                color: white;
                width: 80%;
                padding: 10px 20px;
                color: white;
                border: 0;
                border-radius: 10px;
                font-weight: bold;
                text-align: center;
            }