.header{
    width: 100%;
    height: 70px;
    background-color: #0082DE;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}
    .header .page-logo{
        width: 45px;
        height: 45px;
        background-image: url('../../assets/shield.png');
        background-position: center;
        background-size: contain;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        cursor: pointer;
    }
    .header .page-name{
        font-weight: bold;
        font-size: 20px;
        margin-left: 5px;
        cursor: pointer;
    }
    .header .admin-account{
        right: 250px;
        position: absolute;
        display: flex;
    }
    .header .admin-account :hover{
        cursor: pointer;
    }
        .header .admin-account i{
            color: white;
            font-size: 25px;
        }
        .header .admin-account div{
            position: absolute;
            left: 30px;
            height: 30px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
        }
    .header .cart{
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
        .header .cart .cart-logo{
            width: 30px;
            height: 30px;
            background-image: url('../../assets/cart.svg');
            background-size: contain;
            background-position: center;
            filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(255) contrast(119%);
        }
        .header .cart .cart-number{
            position: absolute;
            left: -5px;
            top: -5px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: orange !important;
        }
        .header .cart .cart-text{
            height: 30px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
        }
.login-modal{
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
}
.login-inner{
    width: 500px;
    position: relative;
    top: 5%;
    margin: auto;
    background: white;
    border-radius: 15px;
}
.login-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1d48ba;
    color: white;
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    .login-header i:hover{
        color: #034f86;
    }
.login-content{
    padding: 50px;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    width: 80%;
}

    .login-content .password{
        margin-top: 30px;
    }

.login-footer{
    padding: 0px 50px 30px 0;
    text-align: right;
}
    .login-footer button{
        padding: 10px 20px;
        background:#1d48ba;
        color: white;
        border: 0;
        border-radius: 20px;
    }
.hide {
    display: none;
}
