.cart_page{
    background-color: #E1EFF9;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
}
    .breaker_horizontal{
        width: fit-content;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        padding-top: 20px;
        padding-left: 5%;
        top: 0px;
    }
    .breaker_horizontal:hover{
        cursor: pointer;
        color: blue;
    }
    .all_content{
        width: 90%;
        height: auto;
        display: flex;
        color: rgb(5, 5, 5);
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    } 
        .left_content{

            color: rgb(5, 5, 5);
            background-color: #ffff;
            width: 60%;
            padding-top: 10px;
            padding-left: 10px;
            border-radius: 0.5cm;
        }
            .products{
                border-color: #E1EFF9;
                padding-top: 20px;
                padding-left: 10px;
                display: flex;

            }
                .prod_img img{
                    width: 100px;
                    height: auto;
                }
                .products_info{
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                    .top_info{
                        display: flex;
                        position: relative;
                    }
                        .product_name{
                            font-size: 17px;
                            width: 70%;
                            padding-top: 10px;
                        }
                        .product_num{
                            width: 20%;
                            right: 25px;
                            height: 30px;
                            position: absolute;
                            border: 2px solid rgba(0,0,0,0.2);
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            border-radius: 5px;
                        }
                            .product_num span{
                                width: 100%;
                                text-align: center; 
                                font-size: 15px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            .product_num .num{
                                border-right: 1px solid rgba(0,0,0,0.2);
                                border-left: 1px solid rgba(0,0,0,0.2);

                            }
                    .product_totalPrice{
                        bottom: 10px;
                        left: 0px;
                        position: absolute;
                        font-size: 2ch;
                        justify-content: right;
                        align-items: center;
                    }
            .delivery_info {
                border-top: 2px solid #E1EFF9;
                padding: 20px;
                right: 20px;

            }
            .delivery_info input{
                width: 50%;
                border-radius: 20px;
                height: 40px;
                padding: 0 20px;
                border: 1px solid #e5e5e5;
                box-sizing: border-box;
                font-size: 15px;
            }
            .delivery_info input:focus{
                border: 1px solid #0082DE;
                outline: none;
            }
                .delivery_title{
                    font-size: 17px;
                    padding: 10px;
                    font-weight: bold;
                }
                .customer_info{
                    height: 30px;
                    font-size: 15px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;;
                }
                .customer_address{
                    display: flex;
                    justify-content: space-between;
                }

        .all_content .breaker_vertical{
            width: 2%;
            background-color: #E1EFF9;
        }

        .all_content .right_content {
            color: rgb(5, 5, 5);
            width: 38%;
            background-color: #ffff;
            align-content: right;
            height:fit-content;
            position: relative;
            border-radius: 0.5cm;
            display:flex;
            flex-direction: column;
            padding: 10px;
        }
            .order_top{
                display: flex;
                flex-direction: row;
                padding-bottom: 10px;
                justify-content: center;
                align-items: center;
            }
                .order_icon{
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/fontawesome-free-6.2.0-web/svgs/solid/bag-shopping.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .order_title{
                    font-weight: bold;
                    font-size: 20px;
                    padding-left: 10px;
                    padding-top: 5px;
                    color:#1d48ba
                }
            .order_info{
                display:flex;
                flex-direction: column;
                padding: 5%;
                font-size: 18px;
                color: #616366;
            }
                .price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            .sumup{
                display:flex;
                padding: 5%;
                font-size: 20px;
                font-weight: 550;
                color: #080808;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: #080808;
            }
                .order_bottom {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
                    .btnPay{
                        width: fit-content;
                        height: 25px;
                        padding: 5%;
                        background-color: #1d48ba;
                        border-radius: 100px;
                        color:#ffff;
                        font-weight: 700;
                        font-size: 18px;
                        align-content: center;
                        justify-self: center;
                    }
                    