.cart_page{
    background-color: #E1EFF9;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
}
    .breaker_horizontal{
        width: fit-content;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        padding-top: 20px;
        padding-left: 5%;
        top: 0px;
    }
    .breaker_horizontal:hover{
        cursor: pointer;
        color: blue;
    }

    .all_content{
        width: 90%;
        height: auto;
        display: flex;
        color: rgb(5, 5, 5);
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    } 
        .left_content{

            color: rgb(5, 5, 5);
            background-color: #ffff;
            width: 60%;
            padding-top: 10px;
            padding-left: 10px;
            border-radius: 0.5cm;
        }
            .cart_title {
                font-size: 18px;
                padding: 10px;
                font-weight: bold;
                color:#1d48ba;
            }
            .products{
                border-color: #E1EFF9;
                padding-top: 20px;
                padding-left: 10px;
                display: flex;
                padding-bottom: 10px;
            }
                .prod_img img{
                    width: 100px;
                    height: auto;
                }
                .products_info{
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    padding-right: 15px;
                }
                    .top_info{
                        display: flex;
                        position: relative;
                        flex-direction: row;
                        justify-content: space-between;
                        justify-items: center;
                        align-items: center;
                    }
                        .product_name{
                            font-size: 17px;
                            width: 70%;
                            padding-top: 10px;
                            position: relative;
                            padding-right: 10px;
                        }
                        .product_num{
                            width: 15%;
                            right: 0px;
                            height: 30px;
                            position: relative;
                            border: 2px solid rgba(0,0,0,0.2);
                            justify-content: right;
                            align-items: center;
                            display: flex;
                            border-radius: 10px;
                        }
                            .product_num span{
                                width: 100%;
                                text-align: center; 
                                align-items: center;
                                justify-content: center;
                                font-size: 15px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            .product_num .num{
                                /* background-color: #1d48ba;
                                border-radius: 100%;
                                height: 30px;
                                justify-self: center; */
                                /* border-right: 1px solid rgba(0,0,0,0.2);
                                border-left: 1px solid rgba(0,0,0,0.2); */
                            }
                        .delete{
                            position: relative;
                            color:#e26b6b;
                            font-size: 20px;
                            /* right: 10px; */
                            /* align-self: center; */
                            align-content: center;
                            width: 5%;
                        }
                            .delete i:hover{
                                color:#f70000;
                                cursor: pointer;
                            }
                    .product_totalPrice{
                        bottom: 10px;
                        left: 0px;
                        position: absolute;
                        font-size: 2ch;
                        justify-content: right;
                        align-items: center;
                    }
            .delivery_info {
                border-top: 1.5px solid #97a0d8;
                padding: 20px;
                right: 20px;
            }
            .delivery_info input{
                width: 50%;
                border-radius: 20px;
                height: 40px;
                padding: 0 20px;
                border: 1px solid #97a0d8;
                box-sizing: border-box;
                font-size: 15px;
            }
            .delivery_info input:focus{
                border: 1px solid #0082DE;
                outline: none;
            }
                .delivery_title{
                    font-size: 17px;
                    padding: 10px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                    .note{
                        color:#f70000;
                        font-size: 13px;
                        padding-left: 10%;
                        
                    }
                .customer_info{
                    height: 30px;
                    font-size: 15px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;
                }
                .customer_address{
                    display: flex;
                    justify-content: space-between;
                }

        .all_content .breaker_vertical{
            width: 2%;
            background-color: #E1EFF9;
        }

        .all_content .right_content {
            color: rgb(5, 5, 5);
            width: 38%;
            background-color: #ffff;
            align-content: right;
            height:fit-content;
            position: sticky;
            border-radius: 0.5cm;
            display:flex;
            flex-direction: column;
            padding: 10px;
        }
            .order_top{
                display: flex;
                flex-direction: row;
                padding-bottom: 10px;
                justify-content: center;
                align-items: center;
            }
                /* .order_icon{
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/fontawesome-free-6.2.0-web/svgs/solid/bag-shopping.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                } */
                .order_top i{
                    font-size: 25px;
                    color:#1d48ba;
                }

                .order_title{
                    font-weight: bold;
                    font-size: 20px;
                    padding-left: 10px;
                    color:#1d48ba
                }
            .order_info{
                display:flex;
                flex-direction: column;
                padding: 5%;
                font-size: 18px;
                color: #616366;
            }
                .price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            .sumup{
                display:flex;
                padding: 5%;
                font-size: 20px;
                font-weight: 550;
                color: #080808;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: #080808;
            }
                .order_bottom {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
                    .btnPay{
                        width: fit-content;
                        height: 20px;
                        padding: 5%;
                        background-color: #1d48ba;
                        border-radius: 100px;
                        color:#ffff;
                        font-weight: 700;
                        font-size: 18px;
                        align-content: center;
                        justify-self: center;
                    }

.empty_cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 70px - 40px);
    height: calc(100vh - 70px - 40px);
}
    .empty_cart .empty_cart_icon{
        padding-top: 20px;
        font-size: 100px;
        width: 150px;
        height: 100px;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        color:#4a66b6
    }
    .empty_cart_title{
        font-size: 18px;
        font-weight: 700;
        padding: 20px;
    }
    .backBtn{
        padding: 15px;
        background-color: #1d48ba;
        color:white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 100px;
        cursor: pointer;
    }
                    