.homepage{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
    .homepage label{
        font-size: 17px;
        font-weight: bold;
    }
    .homepage .search {
        width: 70%;
        background-color: #fff;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
    }
        .homepage .search .text-search{
            width: calc(100% - 35px)
        }
        .homepage .search .img-search{
            width: 30px;
            height: 30px;
            background-color: #0082DE;
            position: absolute;
            right: 20px;
            top: 45px !important;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
        .homepage .search .img-search:hover{
            background-color: #0266ad;
        }
        .homepage .hot-search{
            max-width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            margin: 10px 0;
        }
            .hot-search .hot-item{
                padding: 5px 10px;
                background-color: #d9d9d9;
                margin: 0 10px;
                border-radius: 15px;
                white-space: nowrap;
                cursor: pointer;
            }
            .hot-search .hot-item:hover{
                background-color: #b5b5b5;
            }
            .hot-search .hot-item:first-child{
                margin-left: 0;
            }
            .hot-search .hot-item:last-child{
                margin-right: 0;
            }
        .homepage .product-category{
            width: 70%;
            background-color: #fff;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
        }

            .homepage .product-category a{
                text-decoration: none;
                position: absolute;
                right: 20px;
                color: #0266ad;
            }
            .homepage .product-category a:hover{
                text-decoration: underline;
            }
            .homepage .product-category .product-list{
                max-width: 100%;
                display: flex;
                flex-direction: row;
                overflow-x: scroll;
                margin: 10px 0;
            }
            .homepage .product-category .product-list .product-card{
                border: 1px solid #b5b5b5;
                margin: 0 10px;
                border-radius: 15px;
                cursor: pointer;
                padding: 10px;
               
            }
            .homepage .product-category .product-list .product-card:hover{
                border: 1px solid #0082DE;
            
            }
                .product-card .product-img{
                    width: 180px;
                    height: 180px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .product-card .product-img img{
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                .product-card .product-name{
                    width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 10px 0;
                }
                .product-card .product-price span{
                    color:#0266ad;
                    font-weight: bold;
                    font-size: 15px;
                }
            .homepage .product-category .slide-btn{
                width: 35px;
                height: 35px;
                background-color: #0082DE;
                color: #fff;
                position: absolute;
                cursor: pointer;
                border-radius: 100%;
                text-align: center;
                line-height: 35px;
                /* margin-bottom: auto;
                margin-top: auto;
                bottom: 0;
                top: 0;
                text-align: center; */
                top: 50%;
                bottom: 50%;
                transform: translate(-50%, -50%);
                font-size: 13px;
            }
            .homepage .product-category .slide-btn:hover{
                font-size: 17px;
                background-color: #0266ad;
            }
            .homepage .product-category .slide-btn.next-btn{
                right: 0;
            }
    .homepage .chat-bot{
        display: flex;
        flex-direction: column-reverse;
    }
        .homepage .chat-bot .chat-icon{
            padding: 1%;
            background-color: #6baae0;
            border-radius: 100%;
            border:#ffff;
            color: #ffff;
            position: absolute;
            right:    2%;
            bottom:   10%;
            font-size: 25px;
        }
        .homepage .chat-bot .chat-screen{

            position: absolute;
            right:    2%;
            bottom: 25%;
            width: 20%;
            height: 70%;
            background-color: rgb(187, 199, 231);
            border-radius: 15px;
            border: 1px solid #84bee7;
        }
            .chat-title{
                justify-self: center;
                align-self: center;
                padding: 10px;
                background-color: #0082DE;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                color: #ffff;
                font-weight: bold;
            }
            /* .dialog{
                padding: 8px;
                display: flex;
                flex-direction: column;
            }
                .anwswer{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    position: relative;
                }            
                    .avatar{
                        position: relative;
                        color:#ffff;
                        background-color: #0082DE;
                        border-radius: 15px;
                        width: 25px;
                        height: 25px;
                        font-size: 25px;
                        justify-self: center;
                        align-self: center;
                    }
                    .mess{
                        position: relative; 
                        padding-left: 5px;  
                        background-color: black;   
                        width: 100% - 25px;
                    }
                .ask{
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    position: relative;
                    justify-items: right;
                } */
            .msgs{
                width: 100%;
                height: calc(100% - 110px);
                overflow-y: auto;
                box-sizing: border-box;
                padding: 0 10px;
            }
                .wrap-msg{
                    width: 100%;
                    margin: 10px 0;
                    display: flex;
                    flex-direction: row;
                    height: fit-content;
                    color:#0360a3; 
                }
                .wrap-msg.float-right{
                    justify-content: right;
                    color:rgb(255, 255, 255)
                    /* background-color: #8cb4d4; */
                }
                    .wrap-msg .msg{
                        width: 200px;
                        height: fit-content;
                        background-color: #e9eaeb;
                        border-radius: 10px;
                        padding: 5px;
                        box-sizing: border-box;
                    }
                    .wrap-msg .msg.float-right{
                        background-color: #6baae0;
                    }

            .send-msg{
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                padding: 0 10px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            .send-msg input{
                height: 36px;
                padding: 5px 15px;
                box-sizing: border-box;
                width: 230px;
                border-radius: 17px;
                border: none;
                background-color: #e9eaeb;
            }
                .send-msg input:focus{
                    border: 1px solid #164974 !important;
                    /* border: 1px solid red; */
                    outline: none;
                }
                .send-msg .fa-solid{
                    color: #0082DE;
                    margin-left: 15px;
                    cursor: pointer;
                    font-size: 25px;
                }
    .model-ocr-popup{
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        height: 100%;
        width: 100%;
        position: fixed;
    }

    .popup-inner{
        width: 700px;
        position: relative;
        top: 5%;
        margin: auto;
        background: white;
        border-radius: all 15px;
    }
    .popup-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #1d48ba;
        color: white;
        font-size: large;
        
    }
        .popup-header i:hover{
            color: #034f86;
        }
    .popup-content{
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
    }
        .popup-content .image-input{
           
        }
        .popup-content .image-preview-wrapper{
            width: auto;
            height: 300px;
            display: block;
            cursor: pointer;
            margin: 10px auto 10px;
            background-size: cover;
            background-position: center center;
        }
    .popup-footer{
        padding: 15px;
        text-align: right;
    }
    .popup-footer button{
        padding: 10px 20px;
        background:#1d48ba;
        color: white;
        border: 0;
        border-radius: 20px;
    }

    .hide {
        display: none;
    }

            

